<div class="container">
    <div class="row">
      <div class="col-12 carousel-container">
        <!-- Carousel code goes here -->
        <carousel [interval]="2000">
          
          <slide>
            <img src="https://source.unsplash.com/random/1700x500?Laptop&Corporate">
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </slide>
          <slide>
            <img src="https://source.unsplash.com/random/1700x500?Laptop&Books">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </slide>
          <slide>
            <img src="https://source.unsplash.com/random/1700x500?Laptop&Sport">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
    <br>  <br> 
 
<div class="container bottom">
  <div class="row ">
    <div class="col">
      <p style="text-align: center; font-size: x-large; font-style: italic;">We're leaders 
         in <br></p>
      <p style="text-align: center; font-size: x-large;">Creative Digital Recruitment</p> 
       <br>
      <br>

      <p style="text-align: center;">Based in Surry HIlls, the creative hub of Sydney we are surrounded by creativity
        <br>
        and the flects on the type of jobns we recruit for.
        </p>

        <br> <br> <br>

        <p style="text-align: center;"> <button  class="btn btn-outline-success">FIND OUT MORE ABOUT US!</button></p>
        
    </div>
  </div>

  