<div class="container">
    <nav class="navbar navbar-light bg-primary navbar-expand-sm">
      <div style="margin-left:8%;" class="conatainer">
        <a class="navbar-brand" style="font-size: x-large;" routerLink="/">
           <strong> DEMO-APP </strong>
          </a>
        
      </div>
      
      
    
    </nav>
    
    </div>
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="/registration">REGISTRATION</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >ABOUT US</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link">JOBS</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link">CLIENT</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link">EMPLOYEES</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link">CONTACT US</a>
      </li>
    
    </ul>
    
    